* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

header {
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    padding: 20px;
}

header h1 {
    margin: auto 0;
}

nav {
    background-color: beige;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul li {
    margin: 10px;
    list-style-type: none;
    font-size: 18px;
    font-weight: 600;

}

nav ul li a {
    color: black;

}

main {
    background-color: bisque;
}

main section{
    height: 600px;
}

footer {
    background-color: beige;
}